@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');



a {
text-decoration: none;
color: rgb(17, 34, 94);
}

::selection{
    background-color: rgb(161, 202, 222);
    }


body  {
    font-family: "roboto mono", monospace, arial;
    margin: 0;
    padding: 0;
    margin-top: 60px;
    color: rgb(17, 34, 94);
 
  }

.fixed-header{
background-color: rgb(255, 255, 255);
position: fixed;
top: 0;
left: 0;
right: 0;
display: flex;
align-items: center;
height: 60px;
font-weight: 700;
border-bottom: 1px solid rgb(17, 34, 94);
z-index: 100;
}


.left{
    margin-left: 30px;
    width: 100%;
    font-size: 20px;
}

.right{
    display: flex;
    width: 300px;
    justify-content: space-around;
}

.nav-li{
    position: relative;
    width: max-content;
}

.nav-li::after {
    position: absolute;
    content: '';
    height: 3px;
    width: 0;
    /* background: #705f4b; */
    background: linear-gradient(to right, #0a3f7f ,  #74abde, #000000);
    bottom: 0;
    left: 0;
    border-radius: 100px;
    transition: 200ms ease-in-out;
}

.nav-li:hover::after{
    width: 100%;
}


.main-flex {

}

.intro {
    background-image: url('/images/oscar-5.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 300px;
    filter: grayscale(20%);
   text-shadow: 0px 0px 2px rgb(1, 1, 1);
   text-align: center;
   color: white;
  padding-top: 180px;
  position: relative;
}

.intro::after{
   position: absolute;
   content: '';
   background: #0f0f0fbe;
   height: 240px;
   width: 100%;
  bottom: 90px;
   left: 0;
   right: 0;
   z-index: -1;
}


h1 , h3  {
    text-align: center;
    margin-bottom: 30px;
}

.about-sec{
   margin: 0 auto;
 margin-bottom: 200px;
 padding: 0 10px;
}

.stats-flex {
    display: flex;
    margin: 80px auto;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 20px;
} 

.stats-flex li {
    list-style: none;

}

/* .oscar-png-2 {

} */

.photo-grid{
    background-color: rgb(255, 255, 255);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px , 1fr)); 
    column-gap: 30px;
    row-gap: 25px;
    margin: 0 20px;
}

.img-wrapper{
   box-shadow: 0px 0px 8px black;
}

.img{
    height: 400px;
    width: 100%;
    object-fit: cover;
}

.img-info {
    padding: 40px 20px;
    text-align: center;
} 

@media only screen and (max-width: 600px) {
    .main-flex {
      display: block;
    }
    .stats-flex {
        display: block;
      }
      .bg-image {
        width: 100%;
        height: 300px;
    }
  }



/* {} */

